<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="Academy.EndtoEndProject.Listeners"/>
</listeners>

  <test thread-count="5" parallel = "true" name="Validate Home page title">
    <classes>
    <class name="Academy.EndtoEndProject.validateTitle"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test Login" parallel = "true">
    <classes>
      <class name="Academy.EndtoEndProject.HomePage"/>   
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
